/.idea

/venv

app/ml_models/answer_generation/models
app/ml_models/question_generation/models
app/ml_models/distractor_generation/models
app/ml_models/sense2vec_distractor_generation/data

__pycache__

pickles
.ipynb_checkpoints